.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #5A8DC8;
  padding: 0.5rem 1rem;
}

.navbar-brand-link {
  font-size: 1.5rem;
  text-decoration: none;
}

.navbar-nav {
  list-style: none;
  display: flex;
  flex-direction: row;
}

.navbar-nav li {
  margin: 0 10px;
}

.nav-link {
  text-decoration: none;
}

.navbar-end {
  display: flex;
}

.navbar-end .nav-link {
  margin-left: 10px;
  text-decoration: none;
}
